<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${titulo}">TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        
        <span  th:text="${usuario.nombre}" >Aqui Estoy</span>
        <span th:text="${usuario.apellido}">Aqui Estoy</span>
        
        <span th:if="${usuario.email}" th:text="${usuario.email}"></span><br>
        <span th:if="${usuario.email == null}">El usuario no tiene correo</span>
       
    </body>

    
    
</html>
